<!DOCTYPE HTML>

<html>
	<head>
		<title>TimMcBot</title>
    <style>
      form {
        margin: 0 auto;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      input {
        font-size: 28px;
        margin-top: 20px;
      }
    </style>
	</head>
	<body>
		<form action="/leaderboard">
			<input type="text" placeholder="Guild ID" name="guild"></input>
			<input type="submit" value="see leaderboard"></input>
		</form>
	</body>
</html>